---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Music'>
	<article>
		<p>
			My mixes, whether in the vibe of propulsive deep techno, ambient, or organic beats, aim to
			craft distinct storytelling. These sets reflect my exploration of inner and outer worlds,
			inviting listeners on a musical journey. When performing live, I strive to merge with the
			audience's energy, guiding them through a selection of sounds that invite emotional depth,
			clarity, and a sense of space. Always, my goal is to offer music as a pathway for connection
			and personal discovery.
		</p>

		<span id='music-hypnotic-deep'>Hypnotic and Deep</span>

		<iframe
			id='ifr-test'
			loading='eager'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1701381009&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='eager'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1658303040&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1318630603&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1257691453&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<span id='music-ambient'>Ambient</span>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1434200602&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1109395192&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/563997696&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1395273652&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<span id='music-organic-downbeat'>Organic DownBeat</span>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/525204336&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/573521166&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1072511152&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>

		<span id='music-sound-art'>Sound Art</span>

		<p>
			I curated 'Fragments' in 2023, a fine art photography exhibition. To enhance the experience, I
			created an accompanying sound journey inspired by the displayed works. This audio component
			complements the visual art, offering visitors an immersive, multisensory encounter. The fusion
			of photography and soundscape invites a deeper engagement with the 'Fragments' theme, bridging
			sight and sound in a unique gallery environment.
		</p>

		<iframe
			loading='lazy'
			allow='autoplay'
			src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1464322285&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true'
		></iframe>
	</article>
</Layout>

<style>
	article {
		display: flex;
		width: min(80%, 80ch);
		margin-inline: auto;
		gap: 40px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		scroll-behavior: smooth;
		overflow: hidden;

		@media (max-width: 768px) {
			/* padding-right: 3rem; */
			width: 90%;
		}
	}

	iframe {
		width: 100%;
		aspect-ratio: 16 / 9;
		border: none;
		opacity: 0.7;
		border-radius: 6px;
		z-index: 0;

		:root.mobileMenuOpen & {
			pointer-events: none;
		}
	}

	p {
		text-align: justify;
	}

	span {
		color: var(--accent-color);
		text-shadow:
			0 0 5px var(--accent-color),
			0 0 10px var(--accent-color);

		&:before {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			margin-bottom: 0.3rem;
			background-color: var(--accent-color);
			transition: scale 3s;
		}

		&:target::before {
			scale: 12 1;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}
</style>
