---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
console.log('🔥 ~ currentPath:', currentPath);

const isMusic = pathname.includes('music');
const isPhotography = pathname.includes('photography');

const hasSubmenu = isMusic || isPhotography;
---

<button type='button' aria-label='Toggle Navigation' class='hamburger'></button>
<nav id='main-nav'>
	<a class:list={[{ active: currentPath === '' }]} href='/henrikkehavaas/' class='home'
		>HENRIKKE HAVAAS</a
	>
	<a class:list={[{ active: currentPath === 'about' }]} href='/henrikkehavaas/about'>About</a>
	<a class:list={[{ active: currentPath === 'music' }]} href='/henrikkehavaas/music'>Music</a>
	<a class:list={[{ active: currentPath === 'photography' }]} href='/henrikkehavaas/photography'
		>Photography</a
	>
	<a class:list={[{ active: currentPath === 'contacts' }]} href='/henrikkehavaas/contacts'
		>Contacts</a
	>
	<span class:list={['divider', { hasSubmenu }]}></span>
	{
		isMusic && (
			<>
				<a href='#music-hypnotic-deep'>Hypnotic and Deep</a>
				<a href='#music-ambient'>Ambient</a>
				<a href='#music-organic-downbeat'>Organic Downbeat</a>
				<a href='#music-sound-art'>Sound Art</a>
			</>
		)
	}
	{
		isPhotography && (
			<>
				<a href='#photography-abstract-visions'>Abstract Visions</a>
				<a href='#photography-larvik'>Larvik Ocean</a>
				<a href='#photography-maternity'>Maternity</a>
				<a href='#photography-nude'>Nude</a>
				<a href='#photography-portraits'>Portraits</a>
				<a href='#photography-travels'>Travels</a>
				<a href='#photography-press'>Press</a>
			</>
		)
	}
</nav>

<script is:inline data-astro-rerun>
	document.addEventListener(
		'astro:page-load',
		() => {
			const hamburger = document.querySelector('.hamburger');

			const toggleMobileMenu = (event) => {
				document.documentElement.classList.toggle('mobileMenuOpen');
			};

			hamburger.addEventListener('click', toggleMobileMenu);
		},
		{ once: true }
	);
</script>

<style>
	@keyframes scaleX {
		from {
			transform: scaleX(0);
		}
		to {
			transform: scaleX(2);
		}
	}

	nav {
		grid-area: nav;
		z-index: 1;

		display: flex;
		height: fit-content;
		margin: 5dvh 5dvw 0 5dvw;
		padding-bottom: 5vh;
		gap: 0.5rem;
		flex-direction: column;
		align-items: end;
		font-family: poppins, sans-serif;
		overflow-x: hidden;

		@media (max-width: 768px) {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			margin-top: 8dvh;
			transform: translateX(150%);
			transition: transform 0.3s ease-in-out;
			/* background: linear-gradient(to right, #fbbfbe 0%, #f78a8a 100%); */

			:root.mobileMenuOpen & {
				transform: translateX(0);
			}
		}
	}

	.hamburger {
		grid-area: content;

		position: fixed;
		visibility: hidden;
		top: 3dvh;
		right: 5dvw;
		width: 30px;
		height: 30px;
		background-color: transparent;
		z-index: 1;
		backdrop-filter: blur(10px);
		border-top-color: oklch(from var(--accent-color) l c h / 0.75);
		border-left-color: oklch(from var(--accent-color) l c h / 0.75);

		&:active {
			border-color: transparent oklch(from var(--accent-color) l c h / 0.75)
				oklch(from var(--accent-color) l c h / 0.75) transparent;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 60%;
			height: 2px;
			background-color: var(--white);
			border-radius: 3px;
			transition: transform 0.3s;
			border-radius: 3px;
			z-index: 2;
		}

		&::before {
			top: 30%;
			left: 20%;
		}

		&::after {
			bottom: 30%;
			left: 20%;
		}

		:root.mobileMenuOpen &::before {
			transform: rotate(45deg) translate(4px, 4px);
		}

		:root.mobileMenuOpen &::after {
			transform: rotate(-45deg) translate(4px, -4px);
		}

		@media (max-width: 768px) {
			display: flex;
			visibility: visible;
			padding: 1rem;
			gap: 0.5rem;
			flex-direction: column;
			color: transparent;
			border-radius: 0.5rem;
			cursor: pointer;
		}
	}

	a {
		text-decoration: none;
		color: var(--white);

		&:not(.home) {
			font-size: 1rem;
		}

		/* Submenu nav links */
		.divider ~ & {
			font-size: 0.8rem;
		}
	}

	.home {
		color: var(--white);
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: 200;
	}

	.active {
		background: var(--accent-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	.divider {
		width: 50%;
		height: 1px;
		background-color: var(--accent-color);
		margin-block: 1.5rem;
		transform-origin: right;
		transform: scaleX(0);

		&.hasSubmenu {
			animation: scaleX 1s forwards;
		}
	}
</style>
