---
import { ViewTransitions } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
const showMainBackground = title === 'About';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />

		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
			rel='stylesheet'
		/>

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Navigation />
		<main class:list={[{ withBackground: showMainBackground }]}>
			<slot />
		</main>
		<Footer />

		<style is:global>
			/* 👇 CSS Reset */
			*,
			*::before,
			*::after {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
			}

			html {
				-moz-text-size-adjust: none;
				-webkit-text-size-adjust: none;
				text-size-adjust: none;
			}

			body {
				line-height: 1.5;
				-webkit-font-smoothing: antialiased;
			}

			img,
			picture,
			video,
			canvas,
			svg {
				display: block;
				max-width: 100%;
			}

			input,
			button,
			textarea,
			select {
				font: inherit;
			}

			p,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				overflow-wrap: break-word;
			}

			/* 👆 CSS Reset */

			html {
				--white: #f5f5f5;
				--black: #222222;
				--accent-color: #fbbfbe;

				font-family: Poppins, system-ui, sans-serif;
				color: var(--white);
				background-color: black;
				font-weight: 200;
			}

			body {
				display: grid;
				margin: 0;
				background-image: url('/henrikkehavaas/henrikke_homepage.jpg');
				background-size: cover;
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center;
				height: 100dvh;

				@media (min-width: 769px) {
					grid-template-columns: 1fr max-content;
					grid-template-areas:
						'content nav'
						'content footer';
				}

				@media (max-width: 768px) {
					grid-template-columns: 1fr;
					grid-template-areas: 'content';
				}
			}

			main {
				grid-area: content;
				padding-block: 5dvh;
				scroll-behavior: smooth;
				overflow-x: hidden;
				overflow-y: scroll;
				scrollbar-width: none;
				transition: filter 0.3s;
				scroll-padding-block: 1rem;

				:root.mobileMenuOpen & {
					filter: blur(70px);
				}

				&.withBackground {
					background: url('/henrikkehavaas/henrikke_vertical.jpg');
					background-size: cover;
					background-repeat: no-repeat;
					background-attachment: fixed;
					background-position: left;
				}
			}

			.highlight {
				font-weight: 600;
			}
		</style>
	</body>
</html>
